@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
  }
  button {
  }
}
  */

body {
  background-color: #fafafa;
}

.td-grid {
  display: grid;

  margin: 4rem 0rem;

  grid-template-columns: repeat(auto-fill, minmax(3em, auto));
  object-fit: contain;
  row-gap: 5rem;

  font-size: 0.75em;
}

.td-grid-frame-wrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.td-grid-note {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.td-grid-note::before {
  display: block;
  content: "";
  transform: translateY(0.75em);
  top: 1;
  left: 0;
  width: 100%;
  z-index: -999;
  position: absolute;
  border-top: 1px solid oklch(0.87 0 0);
}

.td-grid-button-measure {
  transition: 0.1s;
  padding: 0.5rem;
  opacity: 0%;
  margin: 0.5rem;
}
.td-grid-button-measure:hover {
  opacity: 100%;
}

.td-measure-start {
  border-left: 1px solid rgba(192, 192, 192, 100%);
}

.td-measure-end {
  border-right: 1px solid rgba(192, 192, 192, 100%);
}
